/* Font */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* Color variables */

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);

$very-pale-blue: hsl(225, 100%, 98%);
$desat-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

$white: #fff;

/* Mixins */

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin round-border {
  border-radius: 1rem;
}

@mixin font-size-weight($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}
